.home {
  min-height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.curso {
  color: #70734f;
  font-size: 15px;
  margin-bottom: 10px;
}

h1 {
  color: #6b2335;
  font-size: 42px;
  margin: 0;
}

h2 {
  color: #70734f;
  font-size: 20px;
  font-weight: normal;
  margin-top: 10px;
}

.descricao {
  color: #666;
  margin-top: 25px;
  font-size: 15px;
}