<h1>Exercício 7 - Lista de Tarefas</h1>

<input type="text" [value]="tarefasService.nomeTarefa()" (input)="tarefasService.atualizarNome($event)"
  placeholder="Digite uma tarefa">

@if (tarefasService.tarefaEditandoId() === null) {

<button (click)="tarefasService.adicionarTarefa()">
  Adicionar
</button>

} @else {

<button (click)="tarefasService.salvarEdicao()">
  Salvar edição
</button>

<button (click)="tarefasService.cancelarEdicao()">
  Cancelar edição
</button>

}

<h2>Tarefas</h2>

<div class="tarefas">

  @for (tarefa of tarefasService.tarefas(); track tarefa.id) {

  <div class="card" [class.concluida]="tarefa.concluida">

    <p>{{ tarefa.nome }}</p>

    <button (click)="tarefasService.alterarConclusao(tarefa.id)">
      {{ tarefa.concluida ? 'Não concluída' : 'Concluir' }}
    </button>

    <button (click)="tarefasService.editarTarefa(tarefa.id)"">
      Editar
    </button>

    <button (click)="tarefasService.removerTarefa(tarefa.id)">
      Remover
    </button>

  </div>

  }

</div>